@using PagedList;
@using PagedList.Mvc;
@model  PagedList.IPagedList<BookStoreEntity.Books>

@{
    ViewBag.Title = "Books";
}
<div id="catalog-home">
<a href="~/Books/Index?pageType=table"><img  src="~/Content/images/home.jpg" /></a>
<a href="~/Books/Index?pageType=image"><img src="~/Content/images/catalog.png" /></a>
</div>
<div class="hasdda">
<div id="mainContent" data-pageType='@ViewBag.pageType'>
    @if (User.Identity.IsAuthenticated)
    {

    <div class="link-another-controller">
        <span>@Html.ActionLink("Authors", "Index", "Authors")</span> /
        <span>@Html.ActionLink("Countries", "Index", "Countries")</span> /
        @*<span>@Html.ActionLink("Geners", "Index", "Geners")</span>*@

    </div>
    }
    <div class="container">
        <div class="row">

            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" id="SearchString" class="search-query form-control" placeholder="Search" value='@Request.QueryString["searchString"]' />
                    <span class="input-group-btn">
                        <button id="serchBtn" class="btn " type="button">
                            <span class=" glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div id="bookList">
        @if (@ViewBag.pageType == "image")
        {
            // @Html.Partial("_BookList", Model);         

            @Html.Partial("_ImageList", Model);

        }
        else
        {

            @Html.Partial("_BookList", Model);

        }

    </div>
</div>
    </div>
@section scripts
{
    <script type="text/javascript">
        var pageType = "@ViewBag.pageType";
    </script>
   @Scripts.Render("~/Scripts/bookStore.js")

}

